Description: MediaCockpit
Maintainer: dream-alpha
Package: enigma2-plugin-extensions-mediacockpit
Version: 18.0.0
Architecture: all
Depends: python-imaging, python-twisted, python-mutagen, ffmpeg, python-merlinpictureviewer, python-merlinmusicplayer, enigma2-plugin-systemplugins-mountcockpit, enigma2-plugin-systemplugins-componentscockpit
