Description: MediaCockpit
Maintainer: dream-alpha
Package: enigma2-plugin-extensions-mediacockpit
Version: 19.2.5
Architecture: all
Depends: python-imaging, python-twisted, python-mutagen, ffmpeg, python-merlinpictureviewer, python-merlinmusicplayer, enigma2-plugin-systemplugins-mountcockpit, enigma2-plugin-skincomponents-cockpit, enigma2-plugin-systemplugins-cachecockpit
